@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutDataTable";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed" style="background-color: #f4f6f9;">
    <content>
        <style>
            .error {
                color: red;
                font-style: italic;
            }
        </style>
        <p></p>
        <table class="table table-striped table-hover">
            <caption>Role Employee</caption>
            <thead class="table-dark">
                <tr>
                    <td>No</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Role</td>
                </tr>
            </thead>
            <tbody id = "table_info">

            </tbody>
        </table>
    </content>
</body>

</html>