@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

<div class="text-center">
    <h1 class="display-4"><b>WELCOME TO MCC 63</b></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
