@{
    ViewData["Title"] = "Login Page";
    Layout = "LoginLayout";
}

<div class="global-container">
    <div class="card login-form shadow">
        <div class="card-body">
            <h3 class="card-title text-center">Log in </h3>
            <div class="card-text">
                <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form action = "/login/auth" method = "POST">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name = "email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input type="password" name = "password" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                    <div class="sign-up">
                        Don't have an account? <a href="" onclick="#modalregis">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalregis" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" style="position : relative; width: auto; margin : auto;" class="" id="form">
                    <div class="row">
                        <div class="col border-left">
                            <div class="row">
                                <div class="col">
                                    <div class"form-group">
                                        <label for="firstname">First Name</label>
                                        <input type="text" name="firstname" class="form-control" placeholder="Input Name" id="firstName">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class"form-group">
                                        <label for="lastname">Last Name</label>
                                        <input type="text" name="lastname" placeholder="Input Name" class="form-control" id="lastName">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" class="form-control" placeholder="Input Phone Number" id="phone">
                            </div>

                            <div class="form-group">
                                <label for="birthdate">BirthDate</label>
                                <input type="date" name="birthdate" class="form-control" id="birthdate">
                            </div>

                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="gender" class="form-control" id="gender">
                                    <option value="" disabled selected>~Select Gender~</option>
                                    <option value="Pria">Laki-laki</option>
                                    <option value="Wanita">Perempuan</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="salary">Salary</label>
                                <input type="text" name="salary" placeholder="Input Dream Salary" class="form-control" id="salary">
                            </div>
                        </div>
                        <div class="col border-left border-right">


                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Input Email" id="email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" placeholder="Input Password" class="form-checkbox form-control" id="password">
                                <br />
                                <input type="checkbox" onclick="myFunction()"> Show Password
                            </div>

                            <div class="form-group">
                                <label for="university">University</label>
                                <select name="university" id="show-univ" class="form-control">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="degree">Degree</label>
                                <select name="degree" class="form-control" id="degree">
                                    <option value="" disabled selected>~Select Degree~</option>
                                    <option value="S2">S2</option>
                                    <option value="S1">S1</option>
                                    <option value="D3">D3</option>
                                    <option value="Diploma">Diploma</option>
                                    <option value="SMA">SMA</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="gpa">GPA</label>
                                <input type="text" name="gpa" placeholder="Input GPA Number" class="form-control" id="gpa">
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="Insert()">Insert</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
